<!-- File: store/templates/store/orderhistory.html -->

{% extends 'core/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Order History</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="font-size: 18px;">Name</th>
                        <th style="font-size: 18px;">Email</th>
                        <th style="font-size: 18px;">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ request.GET.name }}</td>
                        <td>{{ request.GET.email }}</td>
                        <td>${{ request.GET.total|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
